{% extends 'back/base.html.twig' %}

{#
{% block title %}{{ app.user.firstname ~ ' ' ~ app.user.lastname }}{% endblock %}
#}

{#
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
#}

{#
{% block header %}
<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>

    <header class="site-navbar py-4" role="banner">
        <div class="container">
            <div class="d-flex align-items-center">
                <div class="logo">
                    <a href="{{ path('app_template') }}">
                        <img src="{{ asset ('front/images/logo.png') }}" alt="Logo" width="140" height="80">
                    </a>
                </div>
                <div class="ml-auto">
                    <nav class="site-navigation position-relative text-right" role="navigation">
                        <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                            <li><a href="{{ path('app_template') }}" class="nav-link">Home</a></li>
                            <li><a href="{{ path('app_event_index') }}" class="nav-link">Events</a></li>
                            <li><a href="#" class="nav-link">Products</a></li>
                            <li><a href="#" class="nav-link">Equipments</a></li>
                            <li><a href="#" class="nav-link">Contact</a></li>
                            #}
{#
                            <li><a href="{{ path('app_produit_index') }}" class="nav-link">Product</a></li>
                            #}{#

                            <li class="nav-item dropdown active">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="{{ asset('assets/img/user.png') }}" alt="User" width="20" height="20" class="rounded-circle"> <b>{{ app.user.nomutilisateur }} </b>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="{{ path('app_profile',{'id': app.user.id}) }}">My profile</a>
                                    <a class="dropdown-item" href="{{ path('app_logout') }}">Log Out</a>
                                </div>
                            </li>
                        </ul>
                    </nav>

                    <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right text-white"><span
                                class="icon-menu h3 text-white"></span></a>
                </div>
            </div>
        </div>


    </header>
    {% endblock %}
#}

{% block body %}
    {{ form_start(form,{attr: {'novalidate': 'novalidate'}})}}
    <div class="card-body">
        <h4 class="card-title">{{ app.user.firstname ~ " " ~ app.user.lastname }}</h4>
        <p class="card-description"> Update your info </p>
            <div class="form-group">
                {{ form_label(form.nomutilisateur,"Username : ") }}
                {{ form_widget(form.nomutilisateur,{'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.nomutilisateur) }}
            </div>
            <div class="form-group">
                {{ form_label(form.phone,"Phone : ") }}
                {{ form_widget(form.phone,{'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.phone) }}
            </div>
            <div class="form-group">
                {{ form_label(form.firstname,"First name : ") }}
                {{ form_widget(form.firstname,{'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.firstname) }}
            </div>
            <div class="form-group">
                {{ form_label(form.lastname,"Last name : ") }}
                {{ form_widget(form.lastname,{'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.lastname) }}
            </div>

            <button class="btn btn-primary mr-2">{{ button_label|default('Update') }}</button>
            <a class="preview-item" href="{{ path('app_academy_index') }}"><button class="btn btn-dark">Cancel</button></a>
            {{ form_end(form) }}

    </div>
{% endblock %}
{#
{% endblock %}
{% block score %}
{% endblock %}
{% block latest %}
{% endblock %}
{% block nextmatch %}
{% endblock %}
{% block sitesection %}
{% endblock %}
{% block blog %}
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('templates/script.js') }}"></script>
    <script src="{{ asset('build/js/bootstrap.min.js') }}"></script>
{% endblock %}#}
