{% extends 'base.html.twig' %}

{% block title %}{{ app.user.firstname ~ ' ' ~ app.user.lastname }}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset ('other_css/imageStyle.scss') }}">
<script src="{{ asset ('other_js/imageJS.js') }}"></script>
    {{ parent() }}
{% endblock %}

{% block header %}
<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>

    <header class="site-navbar py-4" role="banner">
        <div class="container">
            <div class="d-flex align-items-center">
                <div class="logo">
                    <a href="{{ path('app_template') }}">
                        <img src="{{ asset ('front/images/logo.png') }}" alt="Logo" width="140" height="80">
                    </a>
                </div>
                <div class="ml-auto">
                    <nav class="site-navigation position-relative text-right" role="navigation">
                        <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                            <li><a href="{{ path('app_template') }}" class="nav-link">Home</a></li>
                            <li><a href="{{ path('app_event_index') }}" class="nav-link">Events</a></li>
                            <li><a href="#" class="nav-link">Products</a></li>
                            <li><a href="#" class="nav-link">Equipments</a></li>
                            <li><a href="#" class="nav-link">Contact</a></li>
                            {#
                            <li><a href="{{ path('app_produit_index') }}" class="nav-link">Product</a></li>
                            #}
                            <li class="nav-item dropdown active">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="{{ asset('assets/img/user.png') }}" alt="User" width="20" height="20" class="rounded-circle"> <b>{{ app.user.nomutilisateur }} </b>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="{{ path('app_profile',{'id': app.user.id}) }}">My profile</a>
                                    <a class="dropdown-item" href="{{ path('change_password_front') }}">Change password</a>
                                    <a class="dropdown-item" href="{{ path('app_logout') }}">Log Out</a>
                                </div>
                            </li>
                        </ul>
                    </nav>

                    <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right text-white"><span
                                class="icon-menu h3 text-white"></span></a>
                </div>
            </div>
        </div>


    </header>
    {% endblock %}

{% block content %}


<h2>Update your user information</h2>
<br/>
                {{ form_start(form,{'attr' : {'novalidate' : 'novalidate'}}) }}
                <table>
                <tr>
                <td>

</td>
<td>

</td>
<td>
</td>
<td rowspan="6" style="padding-left: 50px">
<img src="{{ vich_uploader_asset(user, 'avatarFile') }}" alt="{{ user.username }}'s Profile Image" height="300" width="300">

</td>
</tr>
                    <tr>
                        <td>
                            {{ form_label(form.nomutilisateur,"Username : ") }}
                        </td>
                        <td>
                            {{ form_widget(form.nomutilisateur,{'attr' : {'class' : 'form-control'}} ) }}
                        </td>
                        <td>
                            {{ form_errors(form.nomutilisateur,{'attr' : {'class' : 'text-danger'}}) }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ form_label(form.phone,"Phone : ") }}
                        </td>
                        <td>
                            {{ form_widget(form.phone,{'attr' : {'class' : 'form-control'}}) }}
                        </td>
                        <td>
                            {{ form_errors(form.phone) }}
                        </td>

                    </tr>
                    <tr>
                        <td>
                            {{ form_label(form.firstname,"First name : ") }}
                        </td>
                        <td>
                            {{ form_widget(form.firstname,{'attr' : {'class' : 'form-control'}}) }}
                        </td>
                        <td>
                            {{ form_errors(form.firstname) }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ form_label(form.lastname,"Last name : ") }}
                        </td>
                        <td>
                            {{ form_widget(form.lastname,{'attr' : {'class' : 'form-control'}}) }}
                        </td>
                        <td>
                            {{ form_errors(form.lastname) }}
                        </td>
                    </tr>
                    <tr>
                        <td>

                        </td>
                        <td>
                            {{ form_widget(form.avatarFile,{'attr' : {'class' : 'form-control'}}) }}
                        </td>
                        <td>
                            {{ form_errors(form.avatarFile) }}
                        </td>
                    </tr>

{#
                    ->add('nomutilisateur')
                    ->add('phone')
                    ->add('firstname')
                    ->add('lastname')
                    #}
                <tr>
                <td>
                </td>
                    <th colspan="2" rowspan="2">
                        <button class="btn btn-primary"  type="submit">{{ button_label|default('Update') }}</button>
                    </th>
                </tr>
                </table>
                <br/>
                {{ form_end(form) }}

{% endblock %}
{% block score %}
{% endblock %}
{% block latest %}
{% endblock %}
{% block nextmatch %}
{% endblock %}
{% block sitesection %}
{% endblock %}
{% block blog %}
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('templates/script.js') }}"></script>
    <script src="{{ asset('build/js/bootstrap.min.js') }}"></script>
{% endblock %}