{{ form_start(form,{'attr' : {'novalidate' : 'novalidate'}}) }}
<table>
    <tr>
        <td>
            {{ form_label(form.nom,"Nom evennnement : ") }}
        </td>
        <td>
            {{ form_widget(form.nom,{'attr' : { 'class' : 'form-control' }}) }}
        </td>
        <td>
            {{ form_errors(form.nom) }}
        </td>
    </tr>
    <tr>
        <td>
            {{ form_label(form.lieu,"lieu evennnement : ") }}
        </td>
        <td>
            {{ form_widget(form.lieu,{'attr' : { 'class' : 'form-control' }}) }}
        </td>
        <td>
            {{ form_errors(form.lieu) }}
        </td>
    </tr>
    <tr>
        <td>
            {{ form_label(form.description,"Description evennnement : ") }}
        </td>
        <td>
            {{ form_widget(form.description,{'attr' : { 'class' : 'form-control' }}) }}
        </td>
        <td>
            {{ form_errors(form.description) }}
        </td>
    </tr>
    <tr>
        <td>
            {{ form_label(form.category,"Catégorie evennement : ") }}
        </td>
        <td>
            {{ form_widget(form.category,{ 'attr' : { 'class' :  'form-control' }}) }}
        </td>
        <td>
            {{ form_errors(form.category) }}
        </td>

    </tr>
    {% if is_granted('ROLE_ADMIN') %}
    <tr>
        <td>
            {{ form_label(form.organisateur,"Organisateur evennement: ") }}
        </td>
        <td>
            {{ form_widget(form.organisateur,{'attr' : {'class' : 'form-control'}}) }}
        </td>
        <td>
            {{ form_errors(form.organisateur) }}
        </td>
    </tr>
    {% endif %}
    {% if is_granted('ROLE_OWNER') %}
    <tr>
        <td>
            {{ form_label(form.organisateur,"Organisateur evennement: ") }}
        </td>
        <td>
            {{ form_widget(form.organisateur,{'attr' : {'disabled' : 'disabled' , 'class' : 'form-control'} })}}
        </td>
        <td>
            {{ form_errors(form.organisateur) }}
        </td>
    </tr>
    {% endif %}
    <tr>
        <td>
            {{ form_label(form.sponsors,"Sponsor evennement: ") }}
        </td>
        <td>
            {{ form_widget(form.sponsors,{'attr' : {'class' : 'form-control'}}) }}
        </td>
        <td>
            {{ form_errors(form.sponsors) }}
        </td>
    </tr>

</table>
<button class="btn btn-outline-primary">{{ button_label|default('Save') }}</button>
<br/>
{{ form_end(form) }}
{#{% if errors|length > 0 %}
    <ul>


     ->add('nom')
            ->add('category')
            ->add('organisateur')
            ->add('participants')


        {% for error in errors %}
            <li>{{ error.message }}</li>
        {% endfor %}
    </ul>
{% endif %}
#}

{#
->add('nomSponsor')
->add('emailSponsor')
->add('telSponsor')
->add('sponsoredEvents')#}
