{% extends "base.html.twig" %}

{% block title %} Change password {% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('templates/style.css') }}">
    <link rel="stylesheet" href="{{ asset('build/css/bootstrap.min.css') }}">
{% endblock %}

{% block header %}

{% endblock %}
{% block content %}
    <h5>Change your password</h5>

    {{ form_start(form, {attr: {'novalidate': 'novalidate'}}) }}
    <div class="card-body" style="padding-left: 30px;padding-right: 30px">
        <div class="form-group">
            {{ form_label(form.email,"Please retype your email: ") }}
            {{ form_widget(form.email,{'attr': {'class': 'form-control'}}) }}
            <div>
                {{ form_errors(form.email,{'attr' : {'class' : 'text-danger'}}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.new_password.first,"New password : ") }}
            {{ form_widget(form.new_password.first,{'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.new_password.first,{'attr' : {'class' : 'text-danger'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.new_password.second,"Repeat password : ") }}
            {{ form_widget(form.new_password.second,{'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.new_password.second,{'attr' : {'class' : 'text-danger'}}) }}
        </div>
        <div class="form-group">
            {{ form_widget(form.submit,{'attr': {'class': 'btn btn-primary  '}}) }}
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}
{% block score %}
{% endblock %}
{% block latest %}
{% endblock %}
{% block nextmatch %}
{% endblock %}
{% block sitesection %}
{% endblock %}
{% block blog %}
{% endblock %}
{% block footer %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('templates/script.js') }}"></script>
    <script src="{{ asset('build/js/bootstrap.min.js') }}"></script>
{% endblock %}