{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block header %}

<div class="site-wrap">
    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>

    <header class="site-navbar py-4" role="banner" >
        {% for flash in app.flashes('success') %}
            <div class="alert alert-success">{{ flash }}</div>
        {% endfor %}
        <div class="container">
            <div class="d-flex align-items-center">
                <div class="ml-auto">

                    <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right text-white"><span
                                class="icon-menu h3 text-white"></span></a>
                </div>
            </div>
        </div>

    </header>
{% endblock %}

{% block content %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail">Email</label>

        <input type="email" value="{{ last_username }}" name="email" class="form-control" autocomplete="email" autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" >
    <br/>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">
    <label style="padding: 10px"  class="form-control">
        <input type="checkbox" name="_remember_me" checked/>
        Keep me logged in
    </label>
    <br/>
    <button class="btn btn-lg btn-primary align-items-center justify-content-center" type="submit">
        Sign in
    </button>
</form>
    <br/>
    <hr style="background-color: white"/>
    <div class="d-flex align-items-center justify-content-center">
        <p class="mb-0 me-2">Don't have an account?</p><pre>  </pre>
        <a href="{{ path('app_register') }}"><button type="button" class="btn btn-outline-danger"> Sign up</button> </a>
    </div>
    <hr style="background-color: white"/>
    <div class="d-flex align-items-center justify-content-center">
        <p class="mb-0 me-2">Forgot password ?</p><pre>  </pre>
        <a href="#"><button type="button" class="btn btn-outline-danger"> Reset it</button> </a>
        <pre>  </pre><p class="mb-0 me-2">with your email</p>
    </div>

{% endblock %}
    {% block score %}
    {% endblock %}
    {% block latest %}
    {% endblock %}
    {% block nextmatch %}
    {% endblock %}
    {% block sitesection %}
    {% endblock %}
    {% block blog %}
    {% endblock %}
    {% block footer %}
        {{ parent() }}
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('templates/script.js') }}"></script>
        <script src="{{ asset('build/js/bootstrap.min.js') }}"></script>
</div>
    {% endblock %}
