{{ form_start(form, {attr: {'novalidate': 'novalidate'}}) }}
<div class="card-body" style="padding-left: 30px;padding-right: 30px">
    <div class="form-group">
        {{ form_label(form.current_password,"Current password : ") }}
        {{ form_widget(form.current_password,{'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.current_password) }}
    </div>
    <div class="form-group">
        {{ form_label(form.new_password.first,"New password : ") }}
        {{ form_widget(form.new_password.first,{'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.new_password.first) }}
    </div>
    <div class="form-group">
        {{ form_label(form.new_password.second,"Repeat password : ") }}
        {{ form_widget(form.new_password.second,{'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.new_password.second) }}
    </div>
    <div class="form-group">
        {{ form_widget(form.submit,{'attr': {'class': 'btn btn-primary  '}}) }}
    </div>
    {{ form_end(form) }}
</div>

