{% extends 'base_admin.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block content %}
    <h1>List of Reservations :</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateReservation</th>
                <th>StartTime</th>
                <th>EndTime</th>
                <th>ResStatus</th>
                <th>Nb Personne</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.dateReservation ? reservation.dateReservation|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ reservation.startTime ? reservation.startTime|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ reservation.endTime ? reservation.endTime|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ reservation.resStatus ? 'Confirmed' : 'Not Confirmed' }}</td>
                <td>{{ reservation.nbPerson }}</td>
                <td>
                    <a href="{{ path('app_reservation_show_admin', {'id': reservation.id}) }}">show</a>
                    <form method="post" action="{{ path('app_reservation_delete_admin', {'id': reservation.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reservation.id) }}">
                    <button class="btn">Delete</button>
                </form>
                    <!--<a href="{{ path('app_reservation_edit_admin', {'id': reservation.id}) }}">edit</a>-->
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   <!-- <a href="{{ path('app_reservation_new_admin') }}">Create new</a>-->
{% endblock %}
