{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block header %}

    {% endblock %}

    {% block content %}
        <div class="align-items-center">
            <div>
            {{ form_start(registrationForm,{'attr' : {'novalidate' : 'novalidate'}}) }}
            <table>
                <tr>
                    <td>
                        {{ form_label(registrationForm.email,"Email : ") }}
                    </td>
                    <td>
                        {{ form_widget(registrationForm.email) }}
                    </td>
                    <td>
                        {{ form_errors(registrationForm.email) }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form_label(registrationForm.nomutilisateur,"Username : ") }}
                    </td>
                    <td>
                        {{ form_widget(registrationForm.nomutilisateur) }}
                    </td>
                    <td>
                        {{ form_errors(registrationForm.nomutilisateur) }}
                    </td>

                </tr>
                <tr>
                    <td>
                        {{ form_label(registrationForm.phone,"Phone number : ") }}
                    </td>
                    <td>
                        {{ form_widget(registrationForm.phone) }}
                    </td>
                    <td>
                        {{ form_errors(registrationForm.phone) }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form_label(registrationForm.firstname,"First name : ") }}
                    </td>
                    <td>
                        {{ form_widget(registrationForm.firstname) }}
                    </td>
                    <td>
                        {{ form_errors(registrationForm.firstname) }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form_label(registrationForm.lastname,"Last name : ") }}
                    </td>
                    <td>
                        {{ form_widget(registrationForm.lastname) }}
                    </td>

                    <td>
                        {{ form_errors(registrationForm.lastname) }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form_label(registrationForm.roles,"Sign up as : ") }}
                    </td>
                    <td>
                        {{ form_widget(registrationForm.roles) }}
                    </td>

                    <td>
                        {{ form_errors(registrationForm.roles) }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <br/>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        {{ form_row(registrationForm.plainPassword, {
                            label: 'Password'
                        }) }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <br/>
                    </td>
                </tr>
                <tr>
                    <td>

                    </td>
                    <td>
                        <button type="submit" class="btn btn-primary">Register</button>
                    </td>
                </tr>
            </table>
                <br/>
                <hr style="background-color: white"/>
            {{ form_end(registrationForm) }}
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-center pb-4">
            <p class="mb-0 me-2">Already have an account ?</p><pre>  </pre>
            <a href="{{ path('app_login') }}"><button type="button" class="btn btn-outline-danger"> Sign in</button> </a>
        </div>
{#        <h1>Register</h1>
        {{ form_start(registrationForm,{'attr' : {'novalidate' : 'novalidate'}}) }}
        {{ form_row(registrationForm.email,{label : 'Email'}) }}
        {{ form_row(registrationForm.username,{label : 'Username'}) }}
        {{ form_row(registrationForm.phone,{label : 'Phone number'}) }}
        {{ form_row(registrationForm.firstname,{label : 'First name'}) }}
        {{ form_row(registrationForm.lastname,{label : 'Last name'}) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}#}
{#
        <button type="submit" class="btn">Register</button>
        {{ form_end(registrationForm) }}#}



    {% endblock %}

    {% block score %}
    {% endblock %}
    {% block latest %}
    {% endblock %}
    {% block nextmatch %}
    {% endblock %}
    {% block sitesection %}
    {% endblock %}
    {% block blog %}
    {% endblock %}
    {% block footer %}
        {{ parent() }}
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('templates/script.js') }}"></script>
        <script src="{{ asset('build/js/bootstrap.min.js') }}"></script>
    {% endblock %}
