{% extends 'base_admin.html.twig' %}

{% block title %}Terrain_admin index{% endblock %}

{% block body %}

    <h1>Terrain index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Capacity</th>
                <th>SportType</th>
                <th>RentPrice</th>
                <th>Disponibility</th>
                <th>PostalCode</th>
                <th>RoadNumber</th>
                <th>City</th>
                <th>Country</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for terrain in terrains %}
            <tr>
                <td>{{ terrain.id }}</td>
                <td>{{ terrain.name }}</td>
                <td>{{ terrain.capacity }}</td>
                <td>{{ terrain.sportType }}</td>
                <td>{{ terrain.rentPrice }}</td>
                <td>{{ terrain.disponibility ? 'Yes' : 'No' }}</td>
                <td>{{ terrain.postalCode }}</td>
                <td>{{ terrain.roadNumber }}</td>
                <td>{{ terrain.city }}</td>
                <td>{{ terrain.country }}</td>
                <td>
                    <a href="{{ path('app_terrain_show_admin', {'id': terrain.id}) }}">show</a>
                    <a href="{{ path('app_terrain_edit_admin', {'id': terrain.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br><br>
<button type="button" class="btn-secondary" >
    <a href="{{ path('app_terrain_new_admin') }}">Create new</a></button>
{% endblock %}
