{% extends 'base.html.twig' %}

{% block title %}Terrain index{% endblock %}
{% block header %}
{{ parent() }}
{% endblock %}
{% block mid %}
  <div class="hero overlay" style="background-image: url({{ asset('front/images/bg_4.jpg') }});background-color: crimson;">
        <div class="container">
            <div class="row align-items-center" >
                <div class="col-lg-12 ml-auto table-responsive" style="background-color: rgba(54, 69, 79, 0.8);border-radius: 20px;border: groove rgba(120, 69, 79, 0.3);padding: 80px;">
{% block content %}

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Capacity</th>
                <th>SportType</th>
                <th>RentPrice</th>
                <th>Disponibility</th>
                <th>PostalCode</th>
                <th>RoadNumber</th>
                <th>City</th>
                <th>Country</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for terrain in terrains %}
            <tr>
                <td>{{ terrain.id }}</td>
                <td>{{ terrain.name }}</td>
                <td>{{ terrain.capacity }}</td>
                <td>{{ terrain.sportType }}</td>
                <td>{{ terrain.rentPrice }}</td>
                <td>{{ terrain.disponibility ? 'Yes' : 'No' }}</td>
                <td>{{ terrain.postalCode }}</td>
                <td>{{ terrain.roadNumber }}</td>
                <td>{{ terrain.city }}</td>
                <td>{{ terrain.country }}</td>
                <td>
                    <a href="{{ path('app_terrain_show', {'id': terrain.id}) }}">show</a>
                    <a href="{{ path('app_terrain_edit', {'id': terrain.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br><br>
    
   <button type="button" class="btn" >
    <a href="{{ path('app_terrain_new') }}" >Create new</a>
</button>
                    {% endblock %}
                </div>
                
            </div>
        </div>

    </div>
{% endblock %}
{% block score %}

{% endblock %}
