{{ form_start(form,{'attr' : {'novalidate' : 'novalidate'}}) }}
<table>
    <tr>
        <td>
            {{ form_label(form.nomSponsor,"Nom sponsor : ") }}
        </td>
        <td>
            {{ form_widget(form.nomSponsor) }}
        </td>
        <td>
            {{ form_errors(form.nomSponsor) }}
        </td>
    </tr>
    <tr>
        <td>
            {{ form_label(form.emailSponsor,"Email sponsor : ") }}
        </td>
        <td>
            {{ form_widget(form.emailSponsor) }}
        </td>
        <td>
            {{ form_errors(form.emailSponsor) }}
        </td>

    </tr>
    <tr>
        <td>
            {{ form_label(form.telSponsor,"Email sponsor : ") }}
        </td>
        <td>
            {{ form_widget(form.telSponsor) }}
        </td>
        <td>
            {{ form_errors(form.telSponsor) }}
        </td>

    </tr>
</table>

    <button class="btn">{{ button_label|default('Save') }}</button>
<br/>
{#{% if errors|length > 0 %}
    <ul>
        {% for error in errors %}
            <li>{{ error.message }}</li>
        {% endfor %}
    </ul>
{% endif %}
{{ form_end(form) }}#}

{#
->add('nomSponsor')
->add('emailSponsor')
->add('telSponsor')
->add('sponsoredEvents')#}
