{% extends 'base.html.twig' %}

{% block title %}SponsorE{% endblock %}

{% block content %}
    <h1>SponsorE</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sponsor_e.id }}</td>
            </tr>
            <tr>
                <th>NomSponsor</th>
                <td>{{ sponsor_e.nomSponsor }}</td>
            </tr>
            <tr>
                <th>EmailSponsor</th>
                <td>{{ sponsor_e.emailSponsor }}</td>
            </tr>
            <tr>
                <th>TelSponsor</th>
                <td>{{ sponsor_e.telSponsor }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_sponsor_index') }}">back to list</a>

    <a href="{{ path('app_sponsor_edit', {'id': sponsor_e.id}) }}">edit</a>

    {{ include('sponsor/_delete_form.html.twig') }}
{% endblock %}
