{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block content %}
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reservation.id }}</td>
            </tr>
            <tr>
                <th>DateReservation</th>
                <td>{{ reservation.dateReservation ? reservation.dateReservation|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>StartTime</th>
                <td>{{ reservation.startTime ? reservation.startTime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>EndTime</th>
                <td>{{ reservation.endTime ? reservation.endTime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>ResStatus</th>
                <td>{{ reservation.resStatus ? 'Confirmed' : 'Not Confirmed' }}</td>
            </tr>
            <tr>
                <th>nb Personnes</th>
                <td>{{ reservation.nbPerson }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reservation_list',{'id_user': app.user.id}) }}">back to list</a>

    <a href="{{ path('app_reservation_edit', {'id': reservation.id,'id_user': app.user.id}) }}">edit</a>

    {{ include('reservation/_delete_form.html.twig') }}
{% endblock %}
