{# {{ form_start(form) }}
    {{ form_widget(form) }}

    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }} #}
{{ form_start(form , {'attr' :  {'novalidate': 'novalidate'} } ) }}
<table>
    <tr>
        <td>
            {{ form_label(form.libelle ,"product name : ") }}
        </td>
        <td>
            {{ form_widget(form.libelle) }}
        </td>
        <td>
            {{ form_errors(form.libelle) }}
        </td>

    </tr>
    <tr>
        <td>
            {{ form_label(form.prix,"product price : ") }}
        </td>
        <td>
            {{ form_widget(form.prix) }}
        </td>
        <td>
            {{ form_errors(form.prix) }}
        </td>

    </tr>
    <tr>
        <td>
            {{ form_label(form.stock,"product quantité : ") }}
        </td>
        <td>
            {{ form_widget(form.stock) }}
        </td>
        <td>
            {{ form_errors(form.stock) }}
        </td>

    </tr>
    <tr>
        <td>
            {{ form_label(form.ref,"product reference : ") }}
        </td>
        <td>
            {{ form_widget(form.ref) }}
        </td>
        <td>
           {{ form_errors(form.ref) }}
        </td>

    </tr>
    <tr>
        <td>
            {{ form_label(form.categorie,"product categorie : ") }}
        </td>
        <td>
            {{ form_widget(form.categorie) }}
        </td>
        <td>
            {{ form_errors(form.categorie) }}
        </td>

    </tr>
     {# <tr>
        <td>
            {{ form_label(form.imageFile, "product image : ") }}
        </td>
        <td>
            {{ form_widget(form.imageFile) }}
        </td>
        <td>
            {{ form_errors(form.imageFile) }}
        </td>
    </tr> #}

</table>

    <button class="btn" type="submit">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}