{% extends 'base.html.twig' %}

{% block content %}

    
    <h1><center>{{ produit.libelle }}</center></h1>
    <hr><hr>

    <div class="row product-container">
            <div class="col-md-4">
                <div class="product-item text-center">
                <img src="{{ asset('public/uploads/' ~ produit.ref ~ '.png' ) }}" alt="{{ produit.id }}" class="img-fluid">
                    
                    {#<h5 style="color: red;">{{ produit.id }}</h5>#}
                    <h5 style="color: red;">poduct id: {{ produit.id}}</h5>
                    <h5 style="color: red;">product name: {{ produit.libelle }}</h5>
                    
                    
                     <h5 style="color: red;">Rest in stock: {{ produit.stock }}</h5>
                     <h5 style="color: red;">price: {{ (produit.prix) }} €</h5>
                    <h5 style="color: red;">categorie: {{ (produit.categorie.nomCat) }} €</h5>
                    
                </div>
            </div>
{% endblock %}
{% block score %}
{% endblock %}
{% block latest %}
{% endblock %}
{% block nextmatch %}
{% endblock %}
{% block sitesection %}
{% endblock %}
{% block blog %}
{% endblock %}
{% block footer %}
{{ parent() }}
{% endblock %}