

{% extends 'template/index.html.twig' %}

{% block title %}Bienvenue dans notre magasin{% endblock %}

    {% block header %}
<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>

    <header class="site-navbar py-4" role="banner">

        <div class="container">
            <div class="d-flex align-items-center">
                <div class="site-logo">
                    <a href="{{ asset ('front/index.html') }}">
                        <img src="{{ asset ('front/images/logo.png') }}" alt="Logo">
                    </a>
                </div>
                <div class="ml-auto">
                    <nav class="site-navigation position-relative text-right" role="navigation">
                        <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                            <li><a href="{{ asset ('front/index.html') }}" class="nav-link">Home</a></li>
                            <li><a href="{{ asset ('front/matches.html') }}" class="nav-link">Matches</a></li>
                            <li><a href="{{ asset ('front/players.html') }}" class="nav-link">Players</a></li>
                            <li><a href="{{ asset ('front/blog.html') }}" class="nav-link">Blog</a></li>
                            <li><a href="{{ asset ('front/contact.html') }}" class="nav-link">Contact</a></li>
                            <li class="active"><a href="{{ path('app_produit_index') }}" class="nav-link">Product</a></li>
                        </ul>
                    </nav>

                    <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right text-white"><span
                                class="icon-menu h3 text-white"></span></a>
                </div>
            </div>
        </div>

    </header>
{% endblock %}
    {% block content %}
    <h1><center>Nos produits</center></h1>
    <hr><hr>

    <div class="row product-container">
        {% for produit in produits %}
            <div class="col-md-4">
                <div class="product-item text-center">
                <img src="{{ asset('public/uploads/' ~ produit.ref ~ '.png' ) }}" alt="{{ produit.id }}" class="img-fluid">
                    
                    {#<h5 style="color: red;">{{ produit.id }}</h5>#}
                    <a href="{{ path('app_produit_show', {'id': produit.id}) }}">
                    <h5 style="color: red;">{{ produit.libelle }}</h5>
                    </a>
                    
                     <h5 style="color: red;">Rest in stock:{{ produit.stock }}</h5>
                     <h5 style="color: red;">price: {{ (produit.prix) }} €</h5>
                    <h5 style="color: red;">price: {{ (produit.categorie.nomCat) }} €</h5>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endblock %}
{% block score %}
{% endblock %}
{% block latest %}
{% endblock %}
{% block nextmatch %}
{% endblock %}
{% block sitesection %}
{% endblock %}
{% block blog %}
{% endblock %}
{% block footer %}
{{ parent() }}
{% endblock %}
