{{ form_start(form,{'attr' : {'novalidate' : 'novalidate'}}) }}
<table>
    <tr>
        <td>
            {{ form_label(form.nom,"Nom sponsor : ") }}
        </td>
        <td>
            {{ form_widget(form.nom) }}
        </td>
        <td>
            {{ form_errors(form.nom) }}
        </td>
    </tr>
    <tr>
        <td>
            {{ form_label(form.category,"Catégorie : ") }}
        </td>
        <td>
            {{ form_widget(form.category) }}
        </td>
        <td>
            {{ form_errors(form.category) }}
        </td>

    </tr>
    <tr>
        <td>
            {{ form_label(form.organisateur,"Organisateur : ") }}
        </td>
        <td>
            {{ form_widget(form.organisateur) }}
        </td>
        <td>
            {{ form_errors(form.organisateur) }}
        </td>
    </tr>
    <tr>
        <td>
            {{ form_label(form.sponsors,"Sponsor  : ") }}
        </td>
        <td>
            {{ form_widget(form.sponsors) }}
        </td>
        <td>
            {{ form_errors(form.sponsors) }}
        </td>
    </tr>
    {{ form_end(form) }}
</table>

<button class="btn">{{ button_label|default('Save') }}</button>
<br/>
{#{% if errors|length > 0 %}
    <ul>


     ->add('nom')
            ->add('category')
            ->add('organisateur')
            ->add('participants')


        {% for error in errors %}
            <li>{{ error.message }}</li>
        {% endfor %}
    </ul>
{% endif %}
#}

{#
->add('nomSponsor')
->add('emailSponsor')
->add('telSponsor')
->add('sponsoredEvents')#}
