{% extends "back/base.html.twig" %}

{% block body %}
    <h1>Event index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Lieu</th>
            <th>Category</th>
            <th>Description</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for academy in events %}
            <tr>
                <td>{{ academy.id }}</td>
                <td>{{ academy.nom }}</td>
                <td>{{ academy.nom }}</td>
                <td>{{ academy.category }}</td>
                <td>{{ academy.nom }}</td>
                <td>
                    <a href="{{ path('app_event_showBack', {'id': academy.id}) }}"><button class="btn btn-outline-primary">Show</button></a>
                    <a href="{{ path('app_event_editBack', {'id': academy.id}) }}"><button class="btn btn-outline-primary">Edit</button></a>
                    <a href="{{ path('app_event_showPArticipantBack', {'id': academy.id}) }}"><button class="btn btn-outline-primary">Show_participants</button></a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_event_newBack') }}"><button class="btn btn-outline-primary">Creat new</button></a>
{% endblock %}