<form method="post" action="{{ path('app_academy_delete', {'id': academy.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ academy.id) }}">
    <button class="del"><img src="{{ asset ('rami/public/icons/trashbg.png') }}" alt="Delete" width="20" height="20"> Delete</button>
    <style>
    .del {
    background-color: #FFFFFF; /* Green */
    border: none;
    color: black;
    padding: 2px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
    }

    .del:hover {
    background-color: #8B0000; /* Darker green */
    }

    </style>

</form>

{# <form method="post" action="{{ path('app_coach_delete', {'id': coach.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ coach.id) }}">
    <button class="btn">Delete</button>
</form> #}
