{% extends "back/base.html.twig" %}

{% block body %}
    <h1>Academies list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Category</th>
                {# <th>Coach</th> #}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for academy_back in academy_backs %}
            <tr>
                <td>{{ academy_back.id }}</td>
                <td>{{ academy_back.name }}</td>
                <td>{{ academy_back.category }}</td>
                {# <td>{{ academy_back.Coach }}</td> #}
                <td>
                    <a href="{{ path('app_academy_back_show', {'id': academy_back.id}) }}"><img src="{{ asset ('icons/show.png') }}" alt="Show" width="25" height="25"></a>
                    <a href="{{ path('app_academy_back_edit', {'id': academy_back.id}) }}"><img src="{{ asset ('icons/edit.png') }}" alt="Edit" width="25" height="25"></a>
                    {{ include('academy_back/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        {% for academy_front in academy_fronts %}
            <tr>
                <td>{{ academy_front.id }}</td>
                <td>{{ academy_front.name }}</td>
                <td>{{ academy_front.category }}</td>
                {# <td>{{ academy_front.Coach }}</td> #}
                <td>
                    <a href="{{ path('app_academy_show', {'id': academy_front.id}) }}"><img src="{{ asset ('icons/show.png') }}" alt="Show" width="25" height="25"></a>
                    <a href="{{ path('app_academy_edit', {'id': academy_front.id}) }}"><img src="{{ asset ('icons/edit.png') }}" alt="Edit" width="25" height="25"></a>
                    <a href="{{ path('app_academy_delete', {'id': academy_front.id}) }}">delete</a>
                    {# {{ include('academy_back/_delete_form.html.twig') }} #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_academy_back_new') }}">Create new</a>
{% endblock %}
