{% extends "front/base.html.twig" %}
{% block body %}
  

    <div class="hero overlay" style="background-image: url('images/bg_3.jpg');">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-5 mx-auto text-center">
            <h1 class="text-white">equipments </h1>
            <p>Your favourite Platform to rent the Equipments you need to enjoy your sport experience</p>
          </div>
        </div>
      </div>
    </div>

    
    
    <div class="container site-section">
      <div class="row">
        <div class="col-6 title-section">
          <h2 class="heading">Equipments</h2>
        </div>
      </div>
      <div class="row">

        {% for eq in equipment %}

        <div class="col-lg-4 mb-4">
          <div class="custom-media d-block">
            <div class="img mb-4">
              <a href="single.html"><img src="{{ eq.image }}" alt="Image" class="img-fluid"></a>
            </div>
            <div class="text">
              <!DOCTYPE html>
<html>
<head>
<!-- Font Awesome Icon Library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.checked {
  color: orange;
}
</style>
</head>
<body>

  <span class="meta">{{eq.name}}</span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>

</body>
</html>
             
              <p><a href="{{ path('app_rent_new', {'id': eq.id}) }}">rent</a></p>
              <p><a href="{{ path('app_comment_new', {'id': eq.id}) }}">Comment</a></p>
              <p><a href="{{ path('app_equipment_show_front', {'id': eq.id}) }}">Detail</a></p>
              <p><a href="{{ path('app_test', {'id': eq.id}) }}">QRCode</a></p>
              Likes: {{eq.Likes}}
              <a href="{{ path('equipment_like', {'id': eq.id}) }}"><i class="fa fa-thumbs-up"></i></a> 
              Dislikes: {{eq.DISLikes}}
              <a href="{{ path('equipment_dislike', {'id': eq.id}) }}"><i class="fa fa-thumbs-down"></i></a>
            </div>
          </div>
        </div>

        {% endfor %}
      </div>

      <div class="row justify-content-center">
        <div class="col-lg-7 text-center">
          <div class="custom-pagination">
            <a href="#">1</a>
            <span>2</span>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
          </div>
        </div>
      </div> 
    </div>


    
    {% endblock  %}
