{% extends 'back/base.html.twig' %}

{% block body %}
    <h1>SponsorE index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>NomSponsor</th>
            <th>EmailSponsor</th>
            <th>TelSponsor</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for sponsor_e in sponsor_es %}
            <tr>
                <td>{{ sponsor_e.id }}</td>
                <td>{{ sponsor_e.nomSponsor }}</td>
                <td>{{ sponsor_e.emailSponsor }}</td>
                <td>{{ sponsor_e.telSponsor }}</td>
                <td>
                    <a href="{{ path('app_sponsor_showBack', {'id': sponsor_e.id}) }}">show</a>
                    <a href="{{ path('app_sponsorBack_edit', {'id': sponsor_e.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_sponsor_newBack') }}">Create new</a>
{% endblock %}
