{% extends "front/base.html.twig" %}
{% block title %}RAmi{% endblock %}

{% block body %}
<div class="hero overlay" style="background-image: url({{ asset('front/images/2-4.png') }});background-color: crimson;">
        <div class="container">
            <div class="row align-items-center" >
                <div class="col-lg-12 ml-auto" style="background-color: rgba(54, 69, 79, 0.8);border-radius: 30px;border: groove rgba(120, 69, 79, 0.3);padding: 100px;">
                   
{% endblock %}


{% block content %}
    <h1>Rami index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Age</th>
                <th>Field</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rami in ramis %}
            <tr>
                <td>{{ rami.id }}</td>
                <td>{{ rami.name }}</td>
                <td>{{ rami.age }}</td>
                <td>{{ rami.field }}</td>
                <td>
                    <a href="{{ path('app_rami_show', {'id': rami.id}) }}">show</a>
                    <a href="{{ path('app_rami_edit', {'id': rami.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_rami_new') }}">Create new</a>
{% endblock %}
