<!DOCTYPE>
<html>
<head>
    <title>Access Denied</title>
    <link rel="stylesheet" href="{{ asset ('other_css/403_styles.css') }}">
    <link rel="stylesheet" href="{{ asset ('front/fonts/icomoon/style.css')}}">
    <link rel="stylesheet" href="{{ asset ('front/css/bootstrap/bootstrap.css')}}">
    <link rel="stylesheet" href="{{ asset ('front/css/jquery-ui.css')}} ">
    <link rel="stylesheet" href="{{ asset ('front/css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{ asset ('front/css/owl.theme.default.min.css')}}">
    <link rel="stylesheet" href="{{ asset ('front/css/owl.theme.default.min.css')}}">
    <link rel="stylesheet" href="{{ asset ('front/css/jquery.fancybox.min.css')}}">
    <link rel="stylesheet" href="{{ asset ('front/css/bootstrap-datepicker.css')}}">
    <link rel="stylesheet" href="{{ asset ('front/fonts/flaticon/font/flaticon.css')}}">
    <link rel="stylesheet" href="{{ asset ('front/css/aos.css')}}">
    <link rel="stylesheet" href="{{ asset ('front/css/style.css')}}">
</head>
<body>
<div class="scene">
    <p style="text-align: center;">
        <img src="{{ asset('images/meme/wakanda.gif') }}"/>
        <br/>
        <br/>
        <br/>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><button class="btn btn-primary">Go back</button></a>
    </p>

    </div>
    <div class="lock"></div>
</div>

</body>

</html>













